* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #fff;
  margin: 20px;
}

.header {
  text-align: center;
  border-bottom: 3px solid #2b6c8f;
  padding-bottom: 10px;
}

.header img {
  height: 80px;
}

.card {
  border: 1px solid #000;
  padding: 15px;
  margin-top: 15px;
}

.card h2 {
  margin-top: 0;
}

input, select {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  font-size: 14px;
}

button {
  background: #2b6c8f;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
  font-size: 16px;
}

button:hover {
  background: #1f4f6b;
  cursor: pointer;
}

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .card {
    background-color: #1e1e1e;
    border: 1px solid #333;
}

body.dark-mode input,
body.dark-mode select {
    background-color: #2a2a2a;
    color: #fff;
    border: 1px solid #444;
}

body.dark-mode table {
    background-color: #1e1e1e;
    color: #fff;
}

body.dark-mode th {
    background-color: #2a2a2a;
}
